/* =====***** common css starts *****===== */
* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  vertical-align: middle;
}
/* =====***** common css ends *****===== */
/* variable starts */
/* variable ends */
/* =====***** header css starts *****===== */
#header-bg {
  background: #444444;
}
/* =====***** header css ends *****===== */
/* =====***** banner css starts *****===== */
.navbar {
  background: #ffffff;
}
.navbar .navbar-brand {
  margin-right: 180px;
}
.navbar .navbar-nav {
  margin-left: 220px;
}
.navbar .navbar-nav .nav-item {
  line-height: 24px;
  margin-right: 10px;
}
.navbar .navbar-nav .nav-item .nav-link {
  margin: 8px 12px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: #222222;
  position: relative;
}
.navbar .navbar-nav .nav-item .nav-link::after {
  content: '';
  width: 0%;
  height: 1px;
  background: #de4644;
  position: absolute;
  left: 0;
  bottom: 0;
}
.navbar .navbar-nav .nav-item .nav-link:hover::after {
  width: 100%;
  transition: all linear 0.5s;
}
.navbar .navbar-nav .nav-item button {
  margin-left: 200px;
  border: 0;
  background: none;
  padding: 8px 0px;
}
.navbar .navbar-nav .nav-item button i {
  font-size: 18px;
}
.navbar .navbar-nav .nav-item i {
  padding: 8px 5px;
  font-size: 18px;
  line-height: 24px;
}
.navbar .navbar-nav .nav-item p {
  padding: 8px 5px;
  font-size: 18px;
  line-height: 24px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}
/* =====***** banner css ends *****===== */
